<app-nav-bar></app-nav-bar>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medisphere Hospital - About Us</title>
  </head>
  <body>
    <header></header>

    <main>
      <section class="about-hero">
        <img
          src="../../../../assets/images/pic 2.jpg"
          alt="Medisphere Hospital"
          class="central-image"
          height="500px"
          width="1300px"
        />
      </section>

      <section class="about-description">
        <h2 class="heading">About Medisphere Hospital</h2>
        <p>
          Medisphere Hospital is dedicated to providing exceptional healthcare
          services to our community. We strive to offer compassionate care,
          cutting-edge technology, and a commitment to patient well-being. Our
          team of highly skilled professionals is passionate about delivering
          personalized and effective treatments for a wide range of medical
          conditions. We are committed to creating a welcoming and comfortable
          environment for our patients and their families.
        </p>
      </section>

      <h2 class="heading">Our Mission and Vision</h2>
      <section class="mission-vision">
        <div>
          <img
            src="../../../../assets/images/vision.jpg"
            alt="Mission Icon"
            height="300px"
          />
        </div>
        <div class="mission-vision-container">
          <div class="mission">
            <h3 style="font-weight: 600">Mission</h3>
            <p>
              To empower individuals and communities to achieve their highest
              level of health and well-being through comprehensive,
              compassionate, and accessible healthcare services.
            </p>
          </div>

          <div class="vision">
            <h3 style="font-weight: 600">Vision</h3>
            <p>
              To be recognized as the leading healthcare provider in the region,
              renowned for our commitment to quality care, innovation, and
              patient satisfaction.
            </p>
          </div>
          <div class="Values">
            <h3 style="font-weight: 600">Values</h3>
            <p>
              Compassion: We treat every individual with empathy, kindness, and
              dignity. Integrity: We conduct ourselves with honesty,
              transparency, and ethical standards. Collaboration: We foster
              teamwork, respect diversity, and work together to achieve common
              goals. Innovation: We embrace innovation and continuously seek new
              and improved ways to enhance patient care and outcomes.
              Excellence: We strive for excellence in all aspects of our work,
              setting high standards and continuously improving our performance.
            </p>
          </div>
        </div>
      </section>
    </main>

   <app-footer></app-footer>
  </body>
</html>


