<div class="container mt-5">
    <h2 class="text-center">Add Patient Bill</h2>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <form [formGroup]="addPatientBillForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="patientFullName" class="form-label">Patient Full Name</label>
            <select class="form-select" id="patientFullName" formControlName="patientId">
              <option value="">Select Patient</option>
              <option *ngFor="let patient of patients" [value]="patient.id">{{ patient.firstName}} {{patient.lastName}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="doctorFullName" class="form-label">Doctor Full Name</label>
            <select class="form-select" id="doctorFullName" formControlName="doctorId">
              <option value="">Select Doctor</option>
              <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.firstName }} {{doctor.lastName}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="billDate" class="form-label">Bill Date</label>
            <input type="date" class="form-control" id="billDate" formControlName="billDate">
          </div>
          <div class="mb-3">
            <label for="totalAmount" class="form-label">Total Amount</label>
            <input type="number" class="form-control" id="totalAmount" formControlName="totalAmount">
          </div>
          <div class="mb-3">
            <label for="paymentStatus" class="form-label">Payment Status</label>
            <select class="form-select" id="paymentStatus" formControlName="paymentStatus">
                <option value="">Select Payment Status</option>
              <option value="Pending">Pending</option>
              <option value="Paid">Paid</option>
            </select >
          </div>
          <button class="btn btn-primary" type="submit">Add Patient Bill</button>
        </form>
      </div>
    </div>
  </div>
  