body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    color: white;
    padding: 0px;
  }
  
  main {
    padding: 20px;
  }
  p{
    text-align: center;
    font-weight: 600;
  }
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    text-decoration: underline;
    color:#008080 ;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 0px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-left: 90px; 
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-image: linear-gradient(to right, #000205, #008080);    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4d9e9e;
  }
  
  .contact-form {
    display: flex;
  }
  
  .contact-image img {
    border-radius: 40px;
    max-width: 100%;
    height: auto;
    width: 80%; 
    margin-left: 50px;
    border: 2px solid #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

  
  .contact-form form {
    flex: 1;
    margin-left: 90px;
  }
  
  footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  