<div class="button-container">
    <div class="management-buttons">
        <button mat-button routerLink="/secure/admission/get-admission" class="servicemgmt">Admission Management</button>
        <button mat-button routerLink="/secure/BookAppointment/get-appointment" class="servicemgmt">Book Appointment</button>
        <!-- <button mat-button routerLink="/secure/DoctorSchedule/get-schedule" class="servicemgmt">Doctors Schedule</button> -->
        <button mat-button routerLink="/secure/MedicalRecord/get-MR" class="servicemgmt">Medical Record Management</button>
        <button mat-button routerLink="/secure/patientBill/get-PB" class="servicemgmt">Patient Bill Management</button>
        <button mat-button routerLink="/secure/Specialization/get-spec" class="servicemgmt">Specialization Management</button>
        <button mat-button routerLink="/secure/Ward/get-ward" class="servicemgmt">Ward Management</button>
      </div>
</div>
<br><br><br>
<app-footer></app-footer>

  