<div class="container mt-5">
    <h2 class="text-center">Update Appointment</h2>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form [formGroup]="updateAppointmentForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="patientName" class="form-label">Patient Name</label>
                    <select class="form-select" id="patientName" formControlName="patientId">
                        <option value="">Select Patient</option>
                        <option *ngFor="let patient of patients" [value]="patient.id">{{ patient.firstName }} {{ patient.lastName }}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="doctorName" class="form-label">Doctor Name</label>
                    <select class="form-select" id="doctorName" formControlName="doctorId">
                        <option value="">Select Doctor</option>
                        <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.firstName }} {{ doctor.lastName }}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="scheduleId" class="form-label">schedule ID</label>
                    <input type="number" class="form-control" id="scheduleId" formControlName="scheduleId">
                </div>
                <div class="mb-3">
                    <label for="appointmentDate" class="form-label">Appointment Date</label>
                    <input type="date" class="form-control" id="appointmentDate" formControlName="appointmentDate">
                </div>
                <div class="mb-3">
                    <label for="appointmentTime" class="form-label">Appointment Time</label>
                    <input type="time" class="form-control" id="appointmentTime" formControlName="appointmentTime">
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="status" formControlName="status">
                        <option value="Scheduled">Scheduled</option>
                        <option value="Confirmed">Confirmed</option>
                        <option value="Over">Over</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Update Appointment</button>
            </form>
        </div>
    </div>
</div>
