
<!-- <nggt-page-layout>
  <nggt-page-layout-header>
    <h1 class="mat-h1">Dashboardhvkjhv</h1> 
  </nggt-page-layout-header> 
  <nggt-page-layout-content>
  </nggt-page-layout-content> 
</nggt-page-layout> -->
<app-carousel></app-carousel>
<div class="banner">
  <button class="btn btn-info " [routerLink]="['/getspec']">View Specicalizations -></button>
  </div>
  <app-book-appointment></app-book-appointment>
<br><br>
<app-doctor-scrolling-card-slider></app-doctor-scrolling-card-slider>
<h2>Welcome to MediSphere: Your Trusted Healthcare Partner</h2>
<p>
    At MediSphere, we're dedicated to revolutionizing healthcare delivery and prioritizing patient well-being above all else. As a premier hospital management system, we stand at the forefront of innovation and excellence, setting new standards for healthcare services worldwide.
    Located in the heart of California, MediSphere is committed to providing unparalleled medical care, personalized attention, and compassionate support to every patient we serve. With a rich legacy of expertise and a team of skilled professionals, we're here to guide you through your healthcare journey with confidence and peace of mind.</p>
    <app-footer></app-footer>
