<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h2>Update Admission</h2>
        <form [formGroup]="updateAdmissionForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="patientId" class="form-label">Patient</label>
            <select class="form-select" id="patientId" formControlName="patientId">
              <option value="0">Select Patient</option>
              <option *ngFor="let patient of patients" [value]="patient.id">{{ patient.firstName}} {{patient.lastName}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="doctorId" class="form-label">Doctor</label>
            <select class="form-select" id="doctorId" formControlName="doctorId">
              <option value="0">Select Doctor</option>
              <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.firstName}} {{doctor.lastName}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="wardType" class="form-label">Ward Type</label>
            <select class="form-select" id="wardType" formControlName="wardId">
              <option value="0">Select Ward Type</option>
              <option *ngFor="let wardType of wardTypes" [value]="wardType.id">{{wardType.wardType}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="wardNumber" class="form-label">Ward Number</label>
            <input type="number" class="form-control" id="wardNumber" formControlName="wardNumber">
          </div>
          <div class="mb-3">
            <label for="admissionDate" class="form-label">Admission Date</label>
            <input type="date" class="form-control" id="admissionDate" formControlName="admissionDate">
          </div>
          <div class="mb-3">
            <label for="dischargeDate" class="form-label">Discharge Date</label>
            <input type="date" class="form-control" id="dischargeDate" formControlName="dischargeDate">
          </div>
          <button class="btn btn-primary" type="submit">Update Admission</button>
        </form>
      </div>
    </div>
  </div>
  