.custom-navbar-gradient {
  background: linear-gradient(to right, #0f150f, #0d3f3c, #008080);
  
}
.fa-search {
position: relative;
  transform: translateX(-50%);
}
input[type="text"] {
  padding-top: 30px; // 
  width: 15%;
  height: 45%;
  padding: 10px;
  border: 1px none #ccc;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.custom-menu-background {
  background-color: #008080;
}




.mat-toolbar {
  margin-left: -20px;
  width: 101.6%;
  position: relative;

}

img {
  margin-left: -50px;
}

.mat-toolbar button {
  color: #fff;
  font-size: medium;
  text-decoration: none;
  margin-left: 45px;
  background: none;
  border: none;
  padding: 0;
}



.auth {
  font-weight: 500;
  margin-left: 340px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mat-button {
  background-color: #ffffff;
  height: 25px;
  color: #000000;
  border: none;
  width: 6%;
  border-radius: 4px;
  margin-left: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-button:hover {
  background-color: #97cbcb;
}

.service-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  font-size: medium;
  margin-left: 45px;
}

.service-button:hover {
  text-decoration: none;
  color: white;
  background: none;
}

.user-profile-button {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%; 
  margin-right: 8px; 
}

.user-greeting {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family:' Arial, sans-serif';
}
